<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @DateTime.Now
    <br />
    @Request.Url
   <br />

    @{
        var name = "ashraf"; 
        var age = 24;
     }
   <h1>wellcome, mr.@name</h1>
   <h1>your age is :@age</h1>


</body>
</html>
